@font-face {
  font-family: Cyber;
  src: url('../assets/Blender-Pro-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro';
  src: local('Blender Pro Book'), local('Blender-Pro-Book'),
    url('../assets/BlenderPro-Book.woff2') format('woff2'),
    url('../assets/BlenderPro-Book.woff') format('woff'),
    url('../assets/BlenderPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
